@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<h2>@ViewData["Title"]</h2>
<h3>@Model.Email</h3>
<form asp-action="ResetPassword" method="post">
    <div class="card">
        <div class="card-content">
            <input asp-for="Email" type="hidden" />
            <div class="row">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="input-field common-field col s12">
                    <input asp-for="Password">
                    <label asp-for="Password"></label>
                    <span asp-validation-for="Password" class="red-text"></span>
                </div>
            </div>

            <div class="row">
                <div class="input-field common-field col s12">
                    <input asp-for="ConfirmPassword">
                    <label asp-for="ConfirmPassword"></label>
                    <span asp-validation-for="ConfirmPassword" class="red-text"></span>
                </div>
            </div>

        </div>
        <div class="card-action">
            <button type="submit" class="btn"><span class="fa fa-refresh"></span> Reset</button>
            <a href="@Url.Action("Index")" class="btn btn-white">Cancel</a>
        </div>
    </div>
</form>