@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<h4><span class="fa fa-key"></span> @ViewData["Title"]</h4>
<form asp-action="ChangePassword" method="post">
    <div class="card">
        <div class="card-content">
            <div asp-validation-summary="All" class="red-text"></div>
            <div class="row">
                <div class="input-field common-field col s12">
                    <input asp-for="OldPassword">
                    <label asp-for="OldPassword"></label>
                    <span asp-validation-for="OldPassword" class="red-text"></span>
                </div>
            </div>

            <div class="row">
                <div class="input-field common-field col s12">
                    <input asp-for="NewPassword">
                    <label asp-for="NewPassword"></label>
                    <span asp-validation-for="NewPassword" class="red-text"></span>
                </div>
            </div>

            <div class="row">
                <div class="input-field common-field col s12">
                    <input asp-for="ConfirmPassword">
                    <label asp-for="ConfirmPassword"></label>
                    <span asp-validation-for="ConfirmPassword" class="red-text"></span>
                </div>
            </div>
        </div>
        <div class="card-action">
            <button type="submit" class="btn">Change password</button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-white">Cancel</a>
        </div>
    </div>
</form>
